<h1>Edit Menu for </h1>

<%= render partial: "layouts/errors", locals: {object: @menu}%>

<%= render "form", restaurant: @menu%>

<%=button_to "Delete", restaurant_menu_path(@menu), method: :delete%>
