<h1>Edit Menu for </h1>

<%= render partial: "layouts/errors", locals: {object: @menu}%>

<%= render partial: "menu_fields", locals: {f: f}%>

<%=button_to "Delete", menu_path(@menu), method: :delete%>
