<h1>Create Menu for </h1>

<%= render partial: "layouts/errors", locals: {object: @menu}%>

<%= form_with model: @menu, local: true, :url => restaurant_menus_path(@restaurant) do |f| %>

<%= render partial: "menu_fields", locals: {f: f}%>

<%end%>
