/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body{
  font-family: Geneva;

}

.title {
  background-image: url(main.jpg);
  background-position: 100%;
  color: black;
  text-align: center;
  padding: 20px;
  font-family: Courier New;
  font-size: 22px;
}

 .navbar {
   display: table;
   width: 100%;
   border-collapse: collapse;
   border: none;
   background-color: black;
   color: white;
   overflow: auto;
   text-align: center;
}

.navbar ul {
  display: table-row;
}

.navbar li {
  display: table-cell;
}

.navbar a {
  font-family: Geneva;
  color: white;
  font-size: 18px;
  text-align: center;
}

#error_explanation {
  width: 400px;
  border: 2px solid black;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: white;
}

h2, h3 {
  font-family: Geneva;
  text-align: center;
}

.page-title {
  color: #f5c71a;
}

#error_explanation h2 {
  font-family: Geneva;
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: black;
  color: white;
}

#error_explanation p {
  font-family: Geneva;
  color: black;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

.field{
  color: #ff7f50;
}

.action{

}

table {
  table-layout: auto;
  width: auto;
  margin-left:auto;
  margin-right:auto;
  border: 1px solid black;
}

td {

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

.message {
  color: #f5c71a;
}

.menu-item{
  table-layout: auto;
  width: auto;
  text-align: center;
  margin-left:100px;
  margin-right:100px;
  border: 1px solid black;
  margin-bottom: 10px;
}
